@page
@model InsuranceTech.Pages.Insured.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Insurance[0].Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Insurance[0].Address1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance[0].Address2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance[0].ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance[0].EffectiveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance[0].ExpirationDate)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Insurance[0].TotalInsuredValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance[0].Business)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Insurance[0].Rate)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Insurance[0].Premium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance[0].TRIAPremium)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Insurance) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TotalInsuredValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Business)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Premium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TRIAPremium)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
